@charset "utf-8";
/* CSS Document */
body {
	background-color: #2E2E2E;
	color: #DFDFDF;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #FFFFFF;
	text-align: center;
}
h2 {
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16pt;
	text-align: center;
}
h3 {
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14pt;
	text-align: center;
}
th {
	padding: 10px;
	color: #2E2E2E;
}
.mainbody {
	background-color: #DFDFDF;
	border: solid;
	border-color: #6F6F6F;
	color: #2E2E2E;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 10px;
	width: 1000px;
}
.section1 {
	background-color: #DFDFDF;
	padding: inherit;
	justify-content: center;
	width: 990px;
}
.basicstable {
	padding: 10px;
	border: solid;
	border-width: 5px;
	border-color: #6F6F6F;
	border-style: solid;
	background-color: #B3B3B3;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	align: center;
}
.container {
	float: left;
	width: 100%;
	display:flex;
	justify-content: center;
}
.contained1 {
	background-color: #B3B3B3;
	padding: 10px;
	border: solid;
	border-color: #6F6F6F;
	float:left;
	justify-content: center;
	color: #2E2E2E;
	width: 325px;
}
.contained2 {
	background-color: #B3B3B3;
	padding: 10px;
	border: solid;
	border-color: #6F6F6F;
	float:left;
	justify-content: center;
	color: #2E2E2E;
	width: 475px;
}
.contained3 {
	background-color: #B3B3B3;
	padding: 10px;
	border: solid;
	border-color: #6F6F6F;
	float:left;
	justify-content: center;
	color: #2E2E2E;
	width: 195px;
}
.contained4 {
	background-color: #B3B3B3;
	padding: 10px;
	border: solid;
	border-color: #6F6F6F;
	float:left;
	justify-content: center;
	color: #2E2E2E;
	width: 975px;
}
.counter {
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: black;
	size: 1%;
	justify-content: center;
}
.headerbig {
	width: 70%;
	padding: 0px;
}
.headersmall {
	width: 30%;
	padding: 0px;
}
.headertable {
	width: 100%;
	text-align: left;
}
.optionstable {
	color: #DFDFDF
}